@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container-full {
  @apply box-border flex min-h-screen flex-col bg-background;
}

.px-standard {
  @apply px-6 md:px-44;
}

.shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid #ccc;
}

.circle img {
  width: 35%;
  height: auto;
}

header,
footer {
  @apply px-standard sticky top-0 z-50 flex flex-row items-center justify-between bg-white py-3 shadow;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 5px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
